In [118]:
import ase
import ase.io
from ase.io import xsf
import pandas as pd
import json
import seaborn as sns
import matplotlib.pyplot as plt
import os
import numpy as np
%matplotlib inline

In [119]:
df = pd.read_pickle("features_MultipleFeaturizer.pkl")
df.head()

,0,1,2,3,4,5,6,7,8,9,...,264,265,266,267,268,269,270,271,272,label
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.777778,64.0,0.130435,0.217391,0.652174,0.000000,1.0,0.209607,0.046579,EE
1,6.000000,10.432235,4.432235,8.954823,1.969882,0.101871,1.076403,0.847193,1.119514e-11,0.171207,...,73.333333,64.0,0.272727,0.454545,0.272727,0.000000,1.0,0.357395,0.079421,EE
2,9.052693,11.479272,2.426579,9.749345,0.864963,0.020033,1.032994,0.959935,2.631480e-02,0.125121,...,15.750000,152.0,0.129032,0.193548,0.483871,0.193548,0.0,0.168813,0.031652,EE
3,10.187778,12.638871,2.451093,11.821840,1.089375,0.050764,1.038073,0.923854,4.593043e-02,0.102799,...,28.000000,229.0,0.200000,0.000000,0.333333,0.466667,0.0,0.265103,0.058912,PE
4,9.198422,14.426225,5.227803,11.335849,2.060251,0.087363,1.131045,0.914155,9.864448e-02,0.120736,...,65.555556,64.0,0.250000,0.250000,0.500000,0.000000,1.0,0.543070,0.104828,EE

In [120]:
df_binary = df.dropna()

In [121]:
df_binary.replace(to_replace='PE', value='EE', inplace=True)
df_binary.replace(to_replace='EE', value=1, inplace=True)
df_binary.replace(to_replace='HBE', value=0, inplace=True)
df_binary.head()

/Users/mohammad/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,0,1,2,3,4,5,6,7,8,9,...,264,265,266,267,268,269,270,271,272,label
1,6.000000,10.432235,4.432235,8.954823,1.969882,0.101871,1.076403,0.847193,1.119514e-11,0.171207,...,73.333333,64.0,0.272727,0.454545,0.272727,0.000000,1.0,0.357395,0.079421,1
2,9.052693,11.479272,2.426579,9.749345,0.864963,0.020033,1.032994,0.959935,2.631480e-02,0.125121,...,15.750000,152.0,0.129032,0.193548,0.483871,0.193548,0.0,0.168813,0.031652,1
3,10.187778,12.638871,2.451093,11.821840,1.089375,0.050764,1.038073,0.923854,4.593043e-02,0.102799,...,28.000000,229.0,0.200000,0.000000,0.333333,0.466667,0.0,0.265103,0.058912,1
4,9.198422,14.426225,5.227803,11.335849,2.060251,0.087363,1.131045,0.914155,9.864448e-02,0.120736,...,65.555556,64.0,0.250000,0.250000,0.500000,0.000000,1.0,0.543070,0.104828,1
5,4.297802,10.295063,5.997261,8.638179,1.860161,0.115771,1.081628,0.729867,6.790509e-02,0.240869,...,71.724490,12.0,0.181818,0.311688,0.324675,0.181818,1.0,0.400240,0.091499,1

In [122]:
X = df_binary.drop('label', axis = 1).values
y = df_binary['label'].values

In [123]:
from sklearn.model_selection import train_test_split

In [124]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [125]:
from sklearn.ensemble import RandomForestClassifier

In [126]:
X_train.shape

(1549, 273)

In [127]:
RF = RandomForestClassifier(n_estimators=800)

In [128]:
RF.fit(X_train,y_train)

RandomForestClassifier(n_estimators=800)

In [129]:
pred_RF = RF.predict(X_test)

In [130]:
from sklearn.metrics import classification_report, confusion_matrix

In [131]:
print(classification_report(y_test, pred_RF))
print("\n")
print(confusion_matrix(y_test, pred_RF))

              precision    recall  f1-score   support

           0       0.84      0.55      0.66       139
           1       0.89      0.97      0.93       525

    accuracy                           0.88       664
   macro avg       0.87      0.76      0.80       664
weighted avg       0.88      0.88      0.87       664



[[ 76  63]
 [ 14 511]]

In [132]:
df_features = pd.read_pickle('features_MultipleFeaturizer_NewBE.pkl')

In [133]:
df_features

,index,structure,label,binding_energy,0,1,2,3,4,5,...,263,264,265,266,267,268,269,270,271,272
0,0,[[-1.21758603e-17 -8.63505501e-18 3.23526540e...,EE,8.383023,NaN,NaN,NaN,NaN,NaN,NaN,...,96.500000,48.750000,64.0,0.131148,0.245902,0.508197,0.114754,True,0.539020,0.101066
1,1,"[[0. 0. 0.] Zn, [2.07 2.07 2.042414] N...",PE,65.110991,NaN,NaN,NaN,NaN,NaN,NaN,...,91.714286,87.673469,15.0,0.280000,0.520000,0.200000,0.000000,False,0.742626,0.108618
2,2,"[[3.27502151 2.979 0.00781429] Cu, [-1.52...",EE,10.568737,6.236764,10.218801,3.982037,7.959620,1.348913,0.064415,...,91.000000,94.800000,12.0,0.272727,0.424242,0.303030,0.000000,True,0.447278,0.079241
3,3,"[[1.6565 1.6565 0. ] C, [0. 0. 0.] C, [2.16...",EE,22.127216,4.749436,7.508840,2.759405,6.589039,1.226402,0.148352,...,194.000000,0.000000,194.0,0.428571,0.571429,0.000000,0.000000,False,0.058259,0.012946
4,4,"[[1.31876698 2.04875 3.44044636] H, [2.1584...",EE,16.581488,NaN,NaN,NaN,NaN,NaN,NaN,...,122.000000,92.666667,12.0,0.127907,0.197674,0.348837,0.325581,True,0.319141,0.058182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1534,1534,"[[5.358873 2.89125 2.949734] Pb, [2.066373 2....",PE,32.024358,8.026324,11.349242,3.322917,9.173271,0.956542,0.055432,...,107.600000,93.920000,12.0,0.133333,0.226667,0.266667,0.373333,False,0.265103,0.056626
1535,1535,[[4.34967617e-18 1.15904877e+01 3.74851287e+00...,PE,34.086274,NaN,NaN,NaN,NaN,NaN,NaN,...,205.000000,14.666667,194.0,0.875000,0.125000,0.000000,0.000000,True,0.331838,0.049164
1536,1536,"[[4.96114359 5.59100999 1.38342631] Tl, [-0.52...",EE,23.522635,NaN,NaN,NaN,NaN,NaN,NaN,...,113.111111,89.876543,12.0,0.200000,0.266667,0.222222,0.311111,False,0.563121,0.096635
1537,1537,[[-5.37923039e-17 4.50731040e+00 1.51125000e...,PE,70.151743,NaN,NaN,NaN,NaN,NaN,NaN,...,85.909091,91.338843,15.0,0.263158,0.473684,0.078947,0.184211,True,0.917619,0.163036
1538,1538,"[[4.12375 2.38084817 1.88351786] Cs, [7.359...",PE,120.368831,5.914526,13.437788,7.523262,8.128624,1.313881,0.089917,...,145.800000,39.264000,152.0,0.138728,0.196532,0.664740,0.000000,False,0.348856,0.026228

In [134]:
df_features = df_features.dropna()
df_features

,index,structure,label,binding_energy,0,1,2,3,4,5,...,263,264,265,266,267,268,269,270,271,272
2,2,"[[3.27502151 2.979 0.00781429] Cu, [-1.52...",EE,10.568737,6.236764,10.218801,3.982037,7.959620,1.348913,0.064415,...,91.000000,94.800000,12.0,0.272727,0.424242,0.303030,0.000000,True,0.447278,0.079241
3,3,"[[1.6565 1.6565 0. ] C, [0. 0. 0.] C, [2.16...",EE,22.127216,4.749436,7.508840,2.759405,6.589039,1.226402,0.148352,...,194.000000,0.000000,194.0,0.428571,0.571429,0.000000,0.000000,False,0.058259,0.012946
6,6,"[[5.41576321 3.8837068 6.34929294] Sb, [-1.70...",EE,9.874362,4.152189,12.785319,8.633130,9.716781,1.722033,0.087731,...,66.444444,72.592593,12.0,0.253521,0.464789,0.281690,0.000000,False,0.383086,0.065024
7,7,"[[0. 0. 0.] Zn, [7.36447940e-17 2.29785407e+00...",PE,84.441639,6.003136,8.961012,2.957876,7.975053,1.314612,0.079408,...,166.000000,18.666667,152.0,0.136364,0.181818,0.681818,0.000000,False,0.049365,0.010970
8,8,"[[4.11197565 4.8530637 2.31186585] Sn, [ 0.12...",EE,7.662181,4.199186,10.505375,6.306189,8.820911,1.575064,0.129814,...,59.166667,62.888889,12.0,0.226415,0.396226,0.377358,0.000000,False,0.421664,0.083585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527,1527,"[[0. 6.1861 6.07607805] Bi, [2.049...",PE,55.889684,7.989723,10.115710,2.125987,9.069491,0.601212,0.021566,...,133.444444,69.283951,70.0,0.106250,0.168750,0.375000,0.350000,True,0.075405,0.011621
1528,1528,"[[0. 0. 0.] Eu, [4.12875 4.15275 9.04275] Fe, ...",EE,8.554867,4.731373,10.600176,5.868803,5.885814,0.857157,0.055151,...,217.545455,18.743802,229.0,0.213592,0.058252,0.660194,0.067961,False,0.213451,0.013762
1533,1533,"[[1.916 0. 1.6959978] Ho, [0. ...",EE,15.490123,8.907238,13.284954,4.377716,10.836201,1.632502,0.084621,...,90.000000,69.333333,12.0,0.166667,0.250000,0.277778,0.305556,True,0.705072,0.143093
1534,1534,"[[5.358873 2.89125 2.949734] Pb, [2.066373 2....",PE,32.024358,8.026324,11.349242,3.322917,9.173271,0.956542,0.055432,...,107.600000,93.920000,12.0,0.133333,0.226667,0.266667,0.373333,False,0.265103,0.056626
1538,1538,"[[4.12375 2.38084817 1.88351786] Cs, [7.359...",PE,120.368831,5.914526,13.437788,7.523262,8.128624,1.313881,0.089917,...,145.800000,39.264000,152.0,0.138728,0.196532,0.664740,0.000000,False,0.348856,0.026228

In [135]:
df_features.replace(to_replace='PE', value='EE', inplace=True)
df_features.replace(to_replace='EE', value=1, inplace=True)
df_features.replace(to_replace='HBE', value=0, inplace=True)
df_features.head()

/Users/mohammad/anaconda3/lib/python3.7/site-packages/pandas/core/missing.py:94: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x
/Users/mohammad/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,index,structure,label,binding_energy,0,1,2,3,4,5,...,263,264,265,266,267,268,269,270,271,272
2,2,"[[3.27502151 2.979 0.00781429] Cu, [-1.52...",EE,10.568737,6.236764,10.218801,3.982037,7.959620,1.348913,0.064415,...,91.000000,94.800000,12.0,0.272727,0.424242,0.303030,0.0,True,0.447278,0.079241
3,3,"[[1.6565 1.6565 0. ] C, [0. 0. 0.] C, [2.16...",EE,22.127216,4.749436,7.508840,2.759405,6.589039,1.226402,0.148352,...,194.000000,0.000000,194.0,0.428571,0.571429,0.000000,0.0,False,0.058259,0.012946
6,6,"[[5.41576321 3.8837068 6.34929294] Sb, [-1.70...",EE,9.874362,4.152189,12.785319,8.633130,9.716781,1.722033,0.087731,...,66.444444,72.592593,12.0,0.253521,0.464789,0.281690,0.0,False,0.383086,0.065024
7,7,"[[0. 0. 0.] Zn, [7.36447940e-17 2.29785407e+00...",PE,84.441639,6.003136,8.961012,2.957876,7.975053,1.314612,0.079408,...,166.000000,18.666667,152.0,0.136364,0.181818,0.681818,0.0,False,0.049365,0.010970
8,8,"[[4.11197565 4.8530637 2.31186585] Sn, [ 0.12...",EE,7.662181,4.199186,10.505375,6.306189,8.820911,1.575064,0.129814,...,59.166667,62.888889,12.0,0.226415,0.396226,0.377358,0.0,False,0.421664,0.083585

In [136]:
X_NewBE = df_features.drop(['label','index', 'structure', 'binding_energy'], axis = 1).values

In [137]:
predictions = RF.predict(X_NewBE)

In [138]:
j = 0
for i in predictions:
        j += i
print('number of 1:', j)
print('number of predictions:', len(predictions))

number of 1: 757
number of predictions: 780

In [139]:
list(predictions).index(0)

29