In [2]:
import ase
import ase.io
from ase.io import xsf
import pandas as pd
import json
import seaborn as sns
import matplotlib.pyplot as plt
import os
import numpy as np
%matplotlib inline

In [3]:
df_features = pd.read_pickle('pickle_files/features_MultipleFeaturizer_NewBE.pkl')

In [4]:
df_features.head()

,index,structure,label,binding_energy,0,1,2,3,4,5,...,263,264,265,266,267,268,269,270,271,272
0,0,[[-1.21758603e-17 -8.63505501e-18 3.23526540e...,EE,8.383023,NaN,NaN,NaN,NaN,NaN,NaN,...,96.500000,48.750000,64.0,0.131148,0.245902,0.508197,0.114754,True,0.539020,0.101066
1,1,"[[0. 0. 0.] Zn, [2.07 2.07 2.042414] N...",PE,65.110991,NaN,NaN,NaN,NaN,NaN,NaN,...,91.714286,87.673469,15.0,0.280000,0.520000,0.200000,0.000000,False,0.742626,0.108618
2,2,"[[3.27502151 2.979 0.00781429] Cu, [-1.52...",EE,10.568737,6.236764,10.218801,3.982037,7.959620,1.348913,0.064415,...,91.000000,94.800000,12.0,0.272727,0.424242,0.303030,0.000000,True,0.447278,0.079241
3,3,"[[1.6565 1.6565 0. ] C, [0. 0. 0.] C, [2.16...",EE,22.127216,4.749436,7.508840,2.759405,6.589039,1.226402,0.148352,...,194.000000,0.000000,194.0,0.428571,0.571429,0.000000,0.000000,False,0.058259,0.012946
4,4,"[[1.31876698 2.04875 3.44044636] H, [2.1584...",EE,16.581488,NaN,NaN,NaN,NaN,NaN,NaN,...,122.000000,92.666667,12.0,0.127907,0.197674,0.348837,0.325581,True,0.319141,0.058182

In [5]:
df_features = df_features.dropna()
#df_features = df_features.fillna(0)
df_features['label'].replace(to_replace='PE', value='EE', inplace=True)
df_features['label'].replace(to_replace='EE', value=1, inplace=True)
df_features['label'].replace(to_replace='HBE', value=0, inplace=True)
df_features.head()

,index,structure,label,binding_energy,0,1,2,3,4,5,...,263,264,265,266,267,268,269,270,271,272
2,2,"[[3.27502151 2.979 0.00781429] Cu, [-1.52...",1,10.568737,6.236764,10.218801,3.982037,7.959620,1.348913,0.064415,...,91.000000,94.800000,12.0,0.272727,0.424242,0.303030,0.0,True,0.447278,0.079241
3,3,"[[1.6565 1.6565 0. ] C, [0. 0. 0.] C, [2.16...",1,22.127216,4.749436,7.508840,2.759405,6.589039,1.226402,0.148352,...,194.000000,0.000000,194.0,0.428571,0.571429,0.000000,0.0,False,0.058259,0.012946
6,6,"[[5.41576321 3.8837068 6.34929294] Sb, [-1.70...",1,9.874362,4.152189,12.785319,8.633130,9.716781,1.722033,0.087731,...,66.444444,72.592593,12.0,0.253521,0.464789,0.281690,0.0,False,0.383086,0.065024
7,7,"[[0. 0. 0.] Zn, [7.36447940e-17 2.29785407e+00...",1,84.441639,6.003136,8.961012,2.957876,7.975053,1.314612,0.079408,...,166.000000,18.666667,152.0,0.136364,0.181818,0.681818,0.0,False,0.049365,0.010970
8,8,"[[4.11197565 4.8530637 2.31186585] Sn, [ 0.12...",1,7.662181,4.199186,10.505375,6.306189,8.820911,1.575064,0.129814,...,59.166667,62.888889,12.0,0.226415,0.396226,0.377358,0.0,False,0.421664,0.083585

In [6]:
df_features['label'].value_counts()

1    780
0    175
Name: label, dtype: int64

In [7]:
features_with_small_contribution = [0, 1, 2, 3, 4, 5, 6,7, 8, 9,10,11,12,13, 128, 129,130,131,132,133,134,135,
                         136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,
                         155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,
                         174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,
                         193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,
                         212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,
                         231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,
                         250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,
                         269,270,271,272]

In [8]:
df_features = df_features.drop(features_with_small_contribution, axis = 1)
df_features.head()

,index,structure,label,binding_energy,14,15,16,17,18,19,...,118,119,120,121,122,123,124,125,126,127
2,2,"[[3.27502151 2.979 0.00781429] Cu, [-1.52...",1,10.568737,0.652235,0.179345,0.122748,0.150493,1.697396,20.405271,...,0.0,0.0,0.0,0.0,0.0,100.822344,206.967752,106.145407,135.867498,35.878318
3,3,"[[1.6565 1.6565 0. ] C, [0. 0. 0.] C, [2.16...",1,22.127216,0.185748,0.166381,0.138412,0.185351,0.333676,0.913646,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
6,6,"[[5.41576321 3.8837068 6.34929294] Sb, [-1.70...",1,9.874362,0.716806,0.248110,0.168992,0.189230,1.000000,42.780956,...,0.0,0.0,0.0,0.0,0.0,46.928683,182.000000,135.071317,100.757238,41.366338
7,7,"[[0. 0. 0.] Zn, [7.36447940e-17 2.29785407e+00...",1,84.441639,0.399789,0.059687,0.044612,0.404176,9.531291,21.997900,...,0.0,0.0,0.0,0.0,0.0,18.196101,41.995991,23.799890,26.129398,10.577729
8,8,"[[4.11197565 4.8530637 2.31186585] Sn, [ 0.12...",1,7.662181,0.434931,0.227192,0.163020,0.158485,12.857048,40.325308,...,0.0,0.0,0.0,0.0,0.0,51.036588,153.811161,102.774573,84.949092,35.915234

In [9]:
X_NewBE = df_features.drop(['label','index', 'structure', 'binding_energy'], axis = 1).values

***IMPORT the TRAINED MODEL***

In [10]:
import joblib

In [11]:
loaded_RF = joblib.load("models/random_forest_model.joblib")

In [12]:
predictions = loaded_RF.predict(X_NewBE)

In [14]:
from sklearn.metrics import classification_report, confusion_matrix

In [15]:
print(classification_report(df_features['label'].values, predictions))
print("\n")
print(confusion_matrix(df_features['label'].values, predictions))

              precision    recall  f1-score   support

           0       0.60      0.35      0.44       175
           1       0.87      0.95      0.91       780

    accuracy                           0.84       955
   macro avg       0.74      0.65      0.67       955
weighted avg       0.82      0.84      0.82       955



[[ 61 114]
 [ 40 740]]

In [16]:
j = 0
for i in predictions:
        j += i
print('number of 1:', j)
print('number of predictions:', len(predictions))

number of 1: 854
number of predictions: 955

***LOAD the TF Model***

In [22]:
df_features = pd.read_pickle('pickle_files/features_MultipleFeaturizer_NewBE.pkl')

In [23]:
df_features = df_features.dropna()
#df_features = df_features.fillna(0)
df_features['label'].replace(to_replace='PE', value='EE', inplace=True)
df_features['label'].replace(to_replace='EE', value=1, inplace=True)
df_features['label'].replace(to_replace='HBE', value=0, inplace=True)
df_features.head()

,index,structure,label,binding_energy,0,1,2,3,4,5,...,263,264,265,266,267,268,269,270,271,272
2,2,"[[3.27502151 2.979 0.00781429] Cu, [-1.52...",1,10.568737,6.236764,10.218801,3.982037,7.959620,1.348913,0.064415,...,91.000000,94.800000,12.0,0.272727,0.424242,0.303030,0.0,True,0.447278,0.079241
3,3,"[[1.6565 1.6565 0. ] C, [0. 0. 0.] C, [2.16...",1,22.127216,4.749436,7.508840,2.759405,6.589039,1.226402,0.148352,...,194.000000,0.000000,194.0,0.428571,0.571429,0.000000,0.0,False,0.058259,0.012946
6,6,"[[5.41576321 3.8837068 6.34929294] Sb, [-1.70...",1,9.874362,4.152189,12.785319,8.633130,9.716781,1.722033,0.087731,...,66.444444,72.592593,12.0,0.253521,0.464789,0.281690,0.0,False,0.383086,0.065024
7,7,"[[0. 0. 0.] Zn, [7.36447940e-17 2.29785407e+00...",1,84.441639,6.003136,8.961012,2.957876,7.975053,1.314612,0.079408,...,166.000000,18.666667,152.0,0.136364,0.181818,0.681818,0.0,False,0.049365,0.010970
8,8,"[[4.11197565 4.8530637 2.31186585] Sn, [ 0.12...",1,7.662181,4.199186,10.505375,6.306189,8.820911,1.575064,0.129814,...,59.166667,62.888889,12.0,0.226415,0.396226,0.377358,0.0,False,0.421664,0.083585

In [24]:
X_NewBE = df_features.drop(['label','index', 'structure', 'binding_energy'], axis = 1).values

In [25]:
import tensorflow as tf

In [26]:
model = tf.keras.models.load_model('models/seq_model')

In [27]:
X_NewBE_tensor = tf.convert_to_tensor(X_NewBE, dtype=tf.int64)

In [28]:
predictions = model.predict(X_NewBE_tensor)

In [29]:
[print(i.shape, i.dtype) for i in model.inputs]
[print(o.shape, o.dtype) for o in model.outputs]
[print(l.name, l.input_shape, l.dtype) for l in model.layers]

(None, 273) <dtype: 'float32'>
(None, 1) <dtype: 'float32'>
dense_21 (None, 273) float32
dropout_18 (None, 273) float32
dense_22 (None, 273) float32
dropout_19 (None, 225) float32
dense_23 (None, 225) float32
dropout_20 (None, 175) float32
dense_24 (None, 175) float32
dropout_21 (None, 125) float32
dense_25 (None, 125) float32
dropout_22 (None, 75) float32
dense_26 (None, 75) float32
dropout_23 (None, 25) float32
dense_27 (None, 25) float32

[None, None, None, None, None, None, None, None, None, None, None, None, None]

In [30]:
predictions.shape

(955, 1)

In [31]:
predictions = predictions.reshape(len(predictions))
predictions.shape

(955,)

In [32]:
pred = [round(i) for i in predictions]

In [33]:
print(classification_report(df_features['label'].values, pred))
print("\n")
print(confusion_matrix(df_features['label'].values, pred))

              precision    recall  f1-score   support

           0       0.68      0.12      0.20       175
           1       0.83      0.99      0.90       780

    accuracy                           0.83       955
   macro avg       0.76      0.55      0.55       955
weighted avg       0.80      0.83      0.78       955



[[ 21 154]
 [ 10 770]]