In [1]:
import ase
import ase.io
from ase.io import xsf
import pandas as pd
import json
import seaborn as sns
import matplotlib.pyplot as plt
import os
import numpy as np
%matplotlib inline

In [5]:
df = pd.read_pickle("features_MultipleFeaturizer.pkl")
df.head()

,0,1,2,3,4,5,6,7,8,9,...,264,265,266,267,268,269,270,271,272,label
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.777778,64.0,0.130435,0.217391,0.652174,0.000000,1.0,0.209607,0.046579,EE
1,6.000000,10.432235,4.432235,8.954823,1.969882,0.101871,1.076403,0.847193,1.119514e-11,0.171207,...,73.333333,64.0,0.272727,0.454545,0.272727,0.000000,1.0,0.357395,0.079421,EE
2,9.052693,11.479272,2.426579,9.749345,0.864963,0.020033,1.032994,0.959935,2.631480e-02,0.125121,...,15.750000,152.0,0.129032,0.193548,0.483871,0.193548,0.0,0.168813,0.031652,EE
3,10.187778,12.638871,2.451093,11.821840,1.089375,0.050764,1.038073,0.923854,4.593043e-02,0.102799,...,28.000000,229.0,0.200000,0.000000,0.333333,0.466667,0.0,0.265103,0.058912,PE
4,9.198422,14.426225,5.227803,11.335849,2.060251,0.087363,1.131045,0.914155,9.864448e-02,0.120736,...,65.555556,64.0,0.250000,0.250000,0.500000,0.000000,1.0,0.543070,0.104828,EE

In [6]:
df_binary = df.dropna()

In [7]:
df_binary.replace(to_replace='PE', value='EE', inplace=True)
df_binary.replace(to_replace='EE', value=1, inplace=True)
df_binary.replace(to_replace='HBE', value=0, inplace=True)
df_binary.head()

/Users/mohammad/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,0,1,2,3,4,5,6,7,8,9,...,264,265,266,267,268,269,270,271,272,label
1,6.000000,10.432235,4.432235,8.954823,1.969882,0.101871,1.076403,0.847193,1.119514e-11,0.171207,...,73.333333,64.0,0.272727,0.454545,0.272727,0.000000,1.0,0.357395,0.079421,1
2,9.052693,11.479272,2.426579,9.749345,0.864963,0.020033,1.032994,0.959935,2.631480e-02,0.125121,...,15.750000,152.0,0.129032,0.193548,0.483871,0.193548,0.0,0.168813,0.031652,1
3,10.187778,12.638871,2.451093,11.821840,1.089375,0.050764,1.038073,0.923854,4.593043e-02,0.102799,...,28.000000,229.0,0.200000,0.000000,0.333333,0.466667,0.0,0.265103,0.058912,1
4,9.198422,14.426225,5.227803,11.335849,2.060251,0.087363,1.131045,0.914155,9.864448e-02,0.120736,...,65.555556,64.0,0.250000,0.250000,0.500000,0.000000,1.0,0.543070,0.104828,1
5,4.297802,10.295063,5.997261,8.638179,1.860161,0.115771,1.081628,0.729867,6.790509e-02,0.240869,...,71.724490,12.0,0.181818,0.311688,0.324675,0.181818,1.0,0.400240,0.091499,1

In [8]:
X = df_binary.drop('label', axis = 1).values
y = df_binary['label'].values

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [11]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
X_train.shape

(1549, 273)

In [13]:
RF = RandomForestClassifier(n_estimators=600)

In [14]:
RF.fit(X_train,y_train)

RandomForestClassifier(n_estimators=600)

In [15]:
pred_RF = RF.predict(X_test)

In [16]:
from sklearn.metrics import classification_report, confusion_matrix

In [17]:
print(classification_report(y_test, pred_RF))
print("\n")
print(confusion_matrix(y_test, pred_RF))

              precision    recall  f1-score   support

           0       0.85      0.53      0.65       139
           1       0.89      0.98      0.93       525

    accuracy                           0.88       664
   macro avg       0.87      0.75      0.79       664
weighted avg       0.88      0.88      0.87       664



[[ 73  66]
 [ 13 512]]

In [28]:
df_features = pd.read_pickle('features_MultipleFeaturizer_setC.pkl')

In [29]:
df_features.head()

,index,structure,0,1,2,3,4,5,6,7,...,263,264,265,266,267,268,269,270,271,272
0,10,"[[4.30377818 1.18474948 1.17906635] Hg, [-1.22...",6.802069,8.341539,1.539470,7.754725,0.367830,0.015961,1.039381,0.966159,...,130.000000,45.000000,70.0,0.126984,0.142857,0.396825,0.333333,True,0.080661,0.016833
1,23,"[[ 0.99564754 10.014224 3.90753217] V, [2.6...",4.549866,10.835070,6.285204,8.975368,1.589068,0.080245,1.079712,0.728332,...,83.250000,89.062500,12.0,0.241935,0.387097,0.370968,0.000000,True,0.559139,0.107182
2,28,"[[3.5624 2.0567526 6.53995929] Tl, [1.976...",5.747613,14.709639,8.962027,9.555633,1.953022,0.095777,1.320260,0.748328,...,58.500000,71.888889,12.0,0.246575,0.390411,0.267123,0.095890,True,0.563121,0.101023
3,32,"[[4.18190408 3.45051991 5.5986254 ] Ce, [-0.83...",6.726692,15.633412,8.906720,10.468351,1.972491,0.073900,1.239975,0.812006,...,66.105263,63.091413,12.0,0.250000,0.460526,0.276316,0.013158,True,0.739617,0.107661
4,39,"[[-2.39362256 1.31526748 7.96038162] Dy, [4....",6.225861,12.956786,6.730926,8.980190,1.836111,0.095098,1.141055,0.769876,...,68.105263,66.260388,12.0,0.255639,0.443609,0.225564,0.075188,True,0.708321,0.080819

In [32]:
df_features = df_features.dropna()
X_setC = df_features.drop(['index', 'structure'], axis = 1).values

In [33]:
predictions = RF.predict(X_setC)

In [63]:
j = 0
for i in predictions:
    if i == 1:
        j += 1
print('number of 1:', j)
print('number of predictions:', len(predictions))

number of 1: 291
number of predictions: 338

In [48]:
predictions

array([1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1])

In [57]:
predictions[8]

0

In [58]:
structure = df_features.iloc[8]['structure']

In [59]:
from ase.visualize import view
import milad
from milad import asetools
from matminer.featurizers.conversions import AseAtomsAdaptor

In [60]:
PTOASE = AseAtomsAdaptor()

In [61]:
a = PTOASE.get_atoms(structure)

In [62]:
view(a)