In [1]:
import ase
import ase.io
from ase.io import xsf
import pandas as pd
import json
import seaborn as sns
import matplotlib.pyplot as plt
import os
import numpy as np
%matplotlib inline

In [2]:
df_features_2500structures = pd.read_pickle("pickle_files/features_MultipleFeaturizer_2500Structures.pkl")

In [3]:
df_features_2500structures = df_features_2500structures.dropna()

In [10]:
df_features_2500structures.head()

,0,1,2,3,4,5,6,7,8,9,...,263,264,265,266,267,268,269,270,271,272
0,5.994256,12.155981,6.161724,10.238450,1.484601,0.067254,1.137123,0.797480,0.009735,0.175101,...,106.437500,106.242188,12.0,0.325301,0.433735,0.240964,0.000000,False,0.787757,0.159683
1,4.095819,11.162477,7.066658,9.399436,2.350721,0.132525,1.099394,0.629016,0.033573,0.211347,...,40.666667,51.111111,12.0,0.375000,0.593750,0.031250,0.000000,True,0.745613,0.125914
2,8.859597,12.758354,3.898757,11.147768,1.355516,0.032850,1.047858,0.921029,0.034401,0.083477,...,143.000000,54.666667,63.0,0.172414,0.068966,0.655172,0.103448,False,0.183314,0.032139
3,7.848045,23.851948,16.003903,10.359994,2.998212,0.057588,1.259147,0.937673,0.017430,0.122793,...,195.333333,26.370370,166.0,0.274510,0.078431,0.647059,0.000000,False,0.244896,0.022559
4,5.190570,13.948977,8.758407,8.653252,2.168457,0.160771,1.247099,0.710476,0.108134,0.585217,...,128.555556,80.493827,194.0,0.269231,0.346154,0.384615,0.000000,True,0.803211,0.094046

In [11]:
features_with_small_contribution = [0, 1, 2, 3, 4, 5, 6,7, 8, 9,10,11,12,13, 128, 129,130,131,132,133,134,135,
                         136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,
                         155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,
                         174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,
                         193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,
                         212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,
                         231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,
                         250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,
                         269,270,271,272]

In [12]:
df_features_2500structures = df_features_2500structures.drop(features_with_small_contribution, axis = 1)

In [13]:
X_2500structures = df_features_2500structures.values

***LOAD the Trained RF model***

In [14]:
import joblib

In [15]:
loaded_RF = joblib.load("models/random_forest_model.joblib")

In [16]:
predictions = loaded_RF.predict(X_2500structures)

In [17]:
j = 0
for i in predictions:
    if i == 1:
        j += 1
print('Number of 1:', j, 'Out of', len(X_2500structures))

Number of 1: 1987 Out of 2238

In [18]:
predictions[10]

1