In [1]:
import ase
import ase.io
from ase.io import xsf
import pandas as pd
import json
import seaborn as sns
import matplotlib.pyplot as plt
import os
import numpy as np
%matplotlib inline

In [2]:
df_features = pd.read_pickle('pickle_files/features_MultipleFeaturizer_setC.pkl')

In [3]:
df_features.head()

,index,structure,0,1,2,3,4,5,6,7,...,263,264,265,266,267,268,269,270,271,272
0,10,"[[4.30377818 1.18474948 1.17906635] Hg, [-1.22...",6.802069,8.341539,1.539470,7.754725,0.367830,0.015961,1.039381,0.966159,...,130.000000,45.000000,70.0,0.126984,0.142857,0.396825,0.333333,True,0.080661,0.016833
1,23,"[[ 0.99564754 10.014224 3.90753217] V, [2.6...",4.549866,10.835070,6.285204,8.975368,1.589068,0.080245,1.079712,0.728332,...,83.250000,89.062500,12.0,0.241935,0.387097,0.370968,0.000000,True,0.559139,0.107182
2,28,"[[3.5624 2.0567526 6.53995929] Tl, [1.976...",5.747613,14.709639,8.962027,9.555633,1.953022,0.095777,1.320260,0.748328,...,58.500000,71.888889,12.0,0.246575,0.390411,0.267123,0.095890,True,0.563121,0.101023
3,32,"[[4.18190408 3.45051991 5.5986254 ] Ce, [-0.83...",6.726692,15.633412,8.906720,10.468351,1.972491,0.073900,1.239975,0.812006,...,66.105263,63.091413,12.0,0.250000,0.460526,0.276316,0.013158,True,0.739617,0.107661
4,39,"[[-2.39362256 1.31526748 7.96038162] Dy, [4....",6.225861,12.956786,6.730926,8.980190,1.836111,0.095098,1.141055,0.769876,...,68.105263,66.260388,12.0,0.255639,0.443609,0.225564,0.075188,True,0.708321,0.080819

In [8]:
features_with_small_contribution = [0, 1, 2, 3, 4, 5, 6,7, 8, 9,10,11,12,13, 128, 129,130,131,132,133,134,135,
                         136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,
                         155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,
                         174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,
                         193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,
                         212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,
                         231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,
                         250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,
                         269,270,271,272]

In [9]:
df_features = df_features.drop(features_with_small_contribution, axis = 1)
df_features.head()

,index,structure,14,15,16,17,18,19,20,21,...,118,119,120,121,122,123,124,125,126,127
0,10,"[[4.30377818 1.18474948 1.17906635] Hg, [-1.22...",0.840972,0.413239,0.268494,0.302484,32.739127,52.267168,19.528041,45.155037,...,0.0,0.0,0.0,0.0,0.0,7.354477,85.658911,78.304433,61.469013,21.805171
1,23,"[[ 0.99564754 10.014224 3.90753217] V, [2.6...",0.661308,0.271975,0.139660,0.249458,14.125302,43.700888,29.575585,23.378067,...,0.0,0.0,0.0,0.0,0.0,86.802242,215.852541,129.050299,134.636000,40.744240
2,28,"[[3.5624 2.0567526 6.53995929] Tl, [1.976...",0.643973,0.298363,0.188608,0.227493,12.725595,72.916949,60.191354,19.137157,...,0.0,0.0,0.0,0.0,0.0,2.000000,217.000000,215.000000,83.461806,55.460710
3,32,"[[4.18190408 3.45051991 5.5986254 ] Ce, [-0.83...",0.552404,0.178883,0.166669,0.245258,14.103743,50.000000,35.896257,25.729444,...,0.0,0.0,0.0,0.0,0.0,51.552656,182.000000,130.447344,86.360337,32.677055
4,39,"[[-2.39362256 1.31526748 7.96038162] Dy, [4....",0.649693,0.189992,0.099160,0.181221,6.452244,58.060475,51.608231,21.649795,...,0.0,0.0,0.0,0.0,0.0,49.708684,180.427653,130.718968,93.639603,38.168904

In [10]:
df_features = df_features.dropna()
X_setC = df_features.drop(['index', 'structure'], axis = 1).values

In [11]:
import joblib

In [12]:
loaded_RF = joblib.load("models/random_forest_model.joblib")

In [13]:
predictions = loaded_RF.predict(X_setC)

In [14]:
j = 0
for i in predictions:
    if i == 1:
        j += 1
print('number of 1:', j)
print('number of predictions:', len(predictions))

number of 1: 297
number of predictions: 338

In [15]:
predictions

array([1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1])

In [57]:
predictions[8]

0

In [16]:
structure = df_features.iloc[8]['structure']

In [17]:
from ase.visualize import view
import milad
from milad import asetools
from matminer.featurizers.conversions import AseAtomsAdaptor

In [18]:
PTOASE = AseAtomsAdaptor()

In [19]:
a = PTOASE.get_atoms(structure)

In [20]:
view(a)